.image-list {
  margin: 0 auto;
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 10px;
  column-gap: 20px;
}

.image-list img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
}

.image-list img:hover {
  transform: scale(1.05);
}

.no-result {
  text-align: center;
  font-size: 24px;
  margin: 50px 0;
  color: #555;
}
